.bg-profile{
    width: 200px;
    height: fit-content;
    background-color: rgba(224, 224, 224, 0.9);
    position: absolute;
    top: 40px;
    right: 0px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-inline: 10px;
    .item-profile{
        font-size: 18px;
        font-weight: 600;
        padding-block: 5px;
        border-bottom: 1px solid #adadad;
    }
}